<html>

<head>
    <title>Event Viewer Core</title>
</head>

<body>
    <h1>Event Viewer Core API</h1>
    <p>Welcome to the Core Restful API of Event Viewer</span></p>
    <hr/>
    <p>View Swagger documentation here: <a href="/swagger-ui.html">SWAGGER</a></p>
    <p>View API Docs (JSON) here: <a href="/v2/api-docs" target="_blank">API DOCS</a></p>
    <hr/>
    <p>To load events data, place submit a POST request to the '/load' endpoint providing the necessary parameters.</p>
    <hr/>
    &copy; <a href="https://linkedin.com/in/emadmessiha" target="__blank">Emad Messiha</a>
</body>

</html>