<html>

<head>
    <title>Event Viewer Core</title>
</head>

<body>
    <h1>Event Viewer Core API</h1>
    <p>Welcome to the Core Restful API of Event Viewer</span></p>
    <hr/>
    <p>View Swagger documentation here: <a href="/swagger-ui.html" target="_blank">SWAGGER</a></p>
    <p>View API Docs (JSON) here: <a href="/v2/api-docs" target="__blank">API DOCS</a></p>
    <hr/>
    <p>To import data, use the '/upload' API (from Swagger) to upload and import a file.</p>
    <em>NOTE: this overrites data in the database.</em>
    <hr/>
    &copy; <a href="https://linkedin.com/in/emadmessiha" target="___blank">Emad Messiha</a>
</body>

</html>