<html>

<head>
    <title>Event Viewer Core</title>
</head>

<body>
    <h1>Event Viewer Core API</h1>
    <p>Welcome to the Core Restful API of Event Viewer</span></p>
    <hr/>
    <p>View Swagger documentation here: <a href="/swagger-ui.html" target="_blank">SWAGGER</a></p>
    <p>View API Docs (JSON) here: <a href="/v2/api-docs" target="__blank">API DOCS</a></p>
    <hr/>
    <p>To load events data, place submit a POST request to the '/import' endpoint providing the necessary parameters.</p>
    <p>Sample data:</p>
    <ul>
        <li>50 records: https://drive.google.com/uc?authuser=0&id=1O4SWT_j2madGOYXKlTpm_N0NN-4C24_e&export=download</li>
        <li>5000 records: https://drive.google.com/uc?export=download&confirm=DkYl&id=1bw5Oko7hPrBqJfcLbZw0iRfv2uWi2fJI</li>
    </ul>
    <strong>NOTE: </strong>
    <em>URLs must be direct to the ZIP or JSON file. Please refer to the Google Drive documentation on “How to Make Direct Link of Google Drive Files”. It looks like this link:
        https://drive.google.com/uc?export=download&id=0B1WIwjp2JixhQ01IVWwxY2xXb2s</em>
    <hr/>
    &copy; <a href="https://linkedin.com/in/emadmessiha" target="___blank">Emad Messiha</a>
</body>

</html>